* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #151515;
}

div {
  position: relative;
}

#rangeValue {
  position: relative;
  display: block;
  font-size: 6em;
  color: rgba(0, 0, 0, 0.8);
}

#rangeValue::after {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #00adff;
  z-index: 1;
}
